<h1>Latest News</h1>  
    <% @apifeed.each do | feed |%>
        <div class="grid"> 
            <div class="feednews">
                <img width="200px" src="<%= feed.urlToImage %>">
                <h3 class="article-title"><strong><%= feed.title %></strong></h3>
                <p class="article-content"><%= feed.description %></p>
                <p class="article-agency"><%= link_to "Read the full story on #{feed.name}", feed.url %></p>
            </div>
        </div>
    <% end %>